.footer2{
    width: 1050px;
    height: 104px;
    margin: 0 auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 26px 0px 33px;
    border-top: 1px solid rgb(238, 238, 238);
    background-color: white;
    margin-bottom: -30px;
    
}
.f_logo{
    display: flex;
    text-align: left;
    border:none;
    background-color: white;
}
.p{
    font-size: 10px;
    line-height: 14.5px;
    color: rgb(153, 153, 153);
    word-break: break-word;
}
.logo{
    width: 34px;
    margin-right: 10px;
}
.logo1{
    width: 102px;
    margin-right: 10px;
}
.bottom{
    padding: 20px 0px 30px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    color: rgb(153, 153, 153);
}